<!DOCTYPE html>
<html lang="en" ng-app="eventModule">
<head>
    <meta charset="UTF-8">
    <title>Event Registration Form</title>

    <!-- AngularJS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="test.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .box {
            width: 480px;
            margin: auto;
        }
    </style>
</head>

<body ng-controller="eventController">

<div class="box">

    <h2>Event Registration Form</h2>

    <form ng-submit="submitForm()">

        Participant Name:
        <input type="text" ng-model="user.name" required>
        <br><br>

        Email ID:
        <input type="email" ng-model="user.email" required>
        <br><br>

        Contact Number:
        <input type="text" ng-model="user.contact" required>
        <br><br>

        Select Event:
        <select ng-model="user.event"
                ng-options="event as event.name for event in events"
                required>
            <option value="">--Select Event--</option>
        </select>
        <br><br>

        <input type="submit" value="Register">
    </form>

    <hr>

    <!-- Display details after submit -->
    <div ng-show="submitted">
        <h3>Thank You for Registering!</h3>

        <p><b>Name:</b> {{ user.name }}</p>
        <p><b>Email:</b> {{ user.email }}</p>
        <p><b>Contact Number:</b> {{ user.contact }}</p>

        <h4>Event Details</h4>
        <p><b>Event Name:</b> {{ user.event.name }}</p>
        <p><b>Venue:</b> {{ user.event.venue }}</p>
        <p><b>Time:</b> {{ user.event.time }}</p>

        <p>We look forward to seeing you at the event.</p>
    </div>

</div>

</body>
</html>
