<!DOCTYPE html>
<html lang="en" ng-app="eventModule">
<head>
    <meta charset="UTF-8">
    <title>Event Registration Form</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="test.js"></script>

    <style>
        body { font-family: Arial; }
        .box { width: 500px; margin: auto; }
    </style>
</head>

<body ng-controller="eventController">

<div class="box">

    <h2>Event Registration Form</h2>

    <form ng-submit="submitForm()">

        Participant Name:
        <input type="text" ng-model="user.name" required>
        <br><br>

        Email ID:
        <input type="email" ng-model="user.email" required>
        <br><br>

        Contact Number:
        <input type="text" ng-model="user.contact" required>
        <br><br>

        Select Events:
        <div ng-repeat="event in events">
            <input type="checkbox" ng-model="event.selected">
            {{ event.name }}
        </div>
        <br>

        <input type="submit" value="Register">
    </form>

    <hr>

    <div ng-show="submitted">
        <h3>Thank You for Registering!</h3>

        <p><b>Name:</b> {{ user.name }}</p>
        <p><b>Email:</b> {{ user.email }}</p>
        <p><b>Contact Number:</b> {{ user.contact }}</p>

        <h4>Selected Events</h4>
<hr>
        <div ng-repeat="event in events" ng-if="event.selected">
            <p><b>Event:</b> {{ event.name }}</p>
            <p><b>Venue:</b> {{ event.venue }}</p>
            <p><b>Time:</b> {{ event.time }}</p>
            <hr>
        </div>
    </div>

</div>

</body>
</html>
